.bg-img1{
    background-image:url('img/Landing-Page/2-hero-bg.png');
}
.text{
    padding:10%;
}

.bg{
    background-color:blue;
    color:white;
}

.bg-img{
    background-image:url('img/Landing-Page/testimonial_bg.jpg');
    color:white;
}

.blue{
    color:blue;
}